/vendor/
/node_modules/
/public/build
/public/hot
/public/storage
.env
.env.backup
.env.*.local
.env.production
.phpunit.cache

*.pyc
*__pycache__*
db.sqlite3
django_db.sqlite3
.venv
env/
venv/
*.log
.DS_Store
.vscode/
.idea/
